<div class="center hero-unit">
  <h1>Добро пожаловать на Foodgram</h1>

  <h3>
    Это первая страница нашего замечательного приложения
    <%= link_to 'Foodgram', root_path %>!
  </h3>

  <%= link_to "Зарегистрироваться сейчас!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
