<% provide(:title, 'Все пользователи') %>
<h1>Все пользователи</h1>

<%= will_paginate %>

<div class="row">
  <ul class="users">
    <% @users.each do |user| %>
      <div class="col-md-3">
        <li>
          <img class="img-thumbnail users-profile-image" src="http://lorempixel.com/50/50/"> 
          <%= link_to user.username, user %>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<%= will_paginate %>
