<% if @user.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading ">
        The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <div class="panel-body">
        <ul class="reg-errors-list">
          <% @user.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>