/* THEME FIXS */
.navbar-fixed-top {
  position: relative;
}
.margin-top-fix {
  margin-top: 10px;
}
/* END THEME FIXS */

/* ADDITIONAL OPTIONS */
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.btn-delete-float {
  float: right;
  margin-left: 15px;
}
.debug_dump {
  clear: both;
  margin-top: 45px;
}
.signup-now {
  margin: 30px 25px 0 0;
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #dff0d8;
  color: #468847;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.log-in-with {
  top: 0;
  left: 165px;
  li {
    height: 25px; 
  }
}
/* END ADDITIONAL OPTIONS */

/* FOOTER */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 15px;
    }
  }
}
/* END FOOTER */

/* ERROR REGISTER */
.reg-errors-list {
  list-style: none;
  text-align: left;
  color: red;
}
/* END ERROR REGISTER */

/* USERS LIST */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 5px;
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    &:last-child {
      border-bottom: 1px solid #e2e2e2;
    }
  }
}
/* END USERS LIST */
