<footer class="footer container">
  <small>
    <%= link_to "Foodgram", root_path %> by Alexandr Goncurin
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "О нас", '#' %>
      </li>
      <li>
        <%= link_to "Контакты", '#' %>
      </li>
    </ul>
  </nav>
</footer>